 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

 #slider{
  padding-top:0;
 }

.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}

#intro .block h2{
  font-weight: bold;
}

#intro .block p, #intro .block li{
  font-size:20px;
  text-align: justify;
}

#intro .block li{
  font-weight: bold;
  color: #7B7B7B;
  margin-left: 2em;
}

#intro .bloc ul li{
  list-style: square;
}

.post .post-info-wrapper p{
  text-align: center!important;
}

.post h1{
  text-align: center;
  font-weight: 300;
}

.post h1 strong{
  display: block;
  font-weight: bold;
  font-size: 30px;
  line-height: 2em;
}

blockquote {
  background-color: rgba(83,206,122,0.5);
  padding: 3%;
}

blockquote p{
  color: #3D7B51!important;
  line-height: 1.7em;
  font-size: 1.5em!important;  
}

#slider{
  padding-bottom: 0;
}


input#search{
  width: 100%;
  color: #444;
  padding:0.5em;
  margin-top: 50px;
  margin-bottom: 50px;
}


ul#results {
    display: flex!important;
    flex-direction: column;
    max-width: 1170px;
    justify-content: center;
    margin: 2em auto;
}

ul#results li a{
    font-size: 28px;
    line-height: 1.7em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4{
  margin-top:2em;
}

h3 {
  font-weight: 800;
}


.article-container{
  display: flex;
  flex-wrap:wrap;
  background-color: #ddd;
  padding: 20px;
}

.article-container article {
    flex: 0.33;
    flex-grow: 1;
    min-width: 400px;
    padding: 0 40px 20px;
    margin: 0 20px;
    background-color: #fff;
    box-shadow: 3px 3px 2px #cacaca;
}

.article-container article time{
  opacity: 0.5;
  text-transform: uppercase;
}