<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Folder top banner -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3421619882899259"
     data-ad-slot="5125934793"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

	<div class="post">
	  <!-- Wrapper Start -->
	  <section id="intro" style="border: 1px dotted #ddd;">
	    <div class="container">
	      <div class="row">
	        <div>
	          <div class="block">
	          	<div style="text-align: center"><a target="mockofun" href="https://www.mockofun.com/"><img style="width: initial;" src="/img/online-graphic-design.jpg" alt="MockoFun Online Graphic Design"></a></div>
	            <h1>{{ .Params.title | safeHTML}}</h1>
	            <div class="post-info-wrapper">
	              <p class="italic">By <span class="bold"><a target="_blank" rel="nofollow" href="{{ .Params.authorLink }}">{{ .Params.author }}</a></span> on <span class="bold">{{ .Date.Format .Site.Params.date_format }}</span></p>
	            </div>

	            <hr />
		    <div class="share"></div>
	            <p>{{ .Content }}</p>
		    <div class="share"></div>
	          </div>
	        </div><!-- .col-md-7 close -->
	      </div>
	    </div>
	  </section>
	</div>


	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partial "call-to-action.html" . }}
	{{ end }}

	{{ partial "footer.html" . }}
</body>
</html>
