{{ "<!-- NAVIGATION -->" | safeHTML }}
<header class="main-header block">
    <div class="container--header">
        <div class="header__head" role="navigation">
            <div class="logo">
                <a href="/" title="← Back to the homepage">
                    <picture>
                        <source media="(min-width: 1350px)" srcset="https://d33wubrfki0l68.cloudfront.net/81fa290218cedc39d32be7b1f1aba58a25829ebe/0a05f/images/logo--full.svg">
                        <img src="https://d33wubrfki0l68.cloudfront.net/3fbf6ef77e5e00aea7a22423087373169b52ae7e/413ff/images/logo/logo.svg" alt="Smashing Magazine">
                    </picture>
                </a>
            </div>
            <div class="menu-button-and-menu">
                <a href="#footer" class="menu-trigger" id="menu-button" aria-controls="main-nav" role="button" aria-expanded="false">
                    <svg tabindex="-1" viewBox="0 0 24 24" height=".85em" width=".85em" style="position: relative; margin-right: 8px;">
                        <title>Search</title>
                        <path fill="#fff" d="M23.33 20.1l-4.73-4.74a10.06 10.06 0 1 0-3.23 3.23l4.74 4.74a2.29 2.29 0 1 0 3.22-3.23zm-17.48-5.84a5.94 5.94 0 1 1 8.42 0 6 6 0 0 1-8.42 0z"></path>
                    </svg>
                    Topics
                    <script type="text/javascript">
                    var menuButton = document.getElementById('menu-button');

                    function makeLinksUnfocusable(links) {
                        links && Array.from(links).forEach(function(link) {
                            link.setAttribute('tabindex', '-1');
                        });
                    }

                    function makeLinksFocusable(links) {
                        links && Array.from(links).forEach(function(link) {
                            link.removeAttribute('tabindex');
                        });
                    }

                    menuButton.addEventListener('click', function() {
                        let expanded = this.getAttribute('aria-expanded') === 'true' ? true : false;
                        if (expanded) {
                            makeLinksUnfocusable();
                        } else {
                            makeLinksFocusable();
                        }
                        this.setAttribute('aria-expanded', (!expanded).toString());
                    });

                    function menuButtonTextHandler() {
                        var navigation = document.getElementById('main-nav');
                        var navigationLinks = navigation.querySelectorAll('a');
                        if (window.matchMedia("(min-width: 901px)").matches) {
                            menuButton.innerHTML = '<svg viewBox="0 0 24 24" height=".85em" width=".85em" style="position: relative; margin-right: 8px;"><title>Search</title><path fill="#fff" d="M23.33 20.1l-4.73-4.74a10.06 10.06 0 1 0-3.23 3.23l4.74 4.74a2.29 2.29 0 1 0 3.22-3.23zm-17.48-5.84a5.94 5.94 0 1 1 8.42 0 6 6 0 0 1-8.42 0z"/></svg> Topics';
                            makeLinksFocusable(navigationLinks);
                        } else {
                            menuButton.innerHTML = '<svg viewBox="0 0 24 24" height=".85em" width=".85em" style="position: relative; margin-right: 8px;"><title>Search</title><path fill="#fff" d="M23.33 20.1l-4.73-4.74a10.06 10.06 0 1 0-3.23 3.23l4.74 4.74a2.29 2.29 0 1 0 3.22-3.23zm-17.48-5.84a5.94 5.94 0 1 1 8.42 0 6 6 0 0 1-8.42 0z"/></svg> Menu';
                            makeLinksUnfocusable(navigationLinks);
                        }
                    }

                    window.addEventListener('DOMContentLoaded', menuButtonTextHandler, false);
                    window.addEventListener('resize', menuButtonTextHandler, false);
                    </script>
                </a>
                <div class="main-nav__dropdown clearfix" id="menu">
                    <nav role="presentation" class="main-nav closed slideUp" id="main-nav">
                        <ul class="main-nav__list open" id="js-main-nav__list">
                            <li class="main-nav__item active">
                                <a href="/articles/">
                                    <figure role="presentation">
                                        <span class="main-nav__icon">
                                <img src="https://d33wubrfki0l68.cloudfront.net/2bc30327ebf529a249e825447d86f18546a1d6db/36b19/images/nav-icons/articles.svg" alt="">
                            </span>
                                        <figcaption role="presentation">
                                            <h2 class="main-nav__item__title" role="presentation">
                                <span>Articles <span class="sr-only">.</span></span>
                              </h2>
                                            <p>Design &amp; development</p>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li class="main-nav__item ">
                                <a href="/printed-books/">
                                    <figure role="presentation">
                                        <span class="main-nav__icon">
                                <img src="https://d33wubrfki0l68.cloudfront.net/9b4ab044835dfde9adcfb5433a36be21a66cee4c/5b489/images/nav-icons/books.svg" alt="">
                            </span>
                                        <figcaption role="presentation">
                                            <h2 class="main-nav__item__title" role="presentation">
                                <span>Books <span class="sr-only">.</span></span>
                              </h2>
                                            <p class="main-nav__figcaption">Physical &amp; digital books</p>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li class="main-nav__item  ">
                                <a href="/events/toronto-2018/">
                                    <figure role="presentation">
                                        <span class="main-nav__icon">
                                <img src="https://d33wubrfki0l68.cloudfront.net/5831a43ae2230e30a035539e7c2b831561d2d2fd/86bab/images/nav-icons/events.svg" alt="">
                            </span>
                                        <figcaption role="presentation">
                                            <h2 class="main-nav__item__title" role="presentation">
                                <span>Events <span class="sr-only">.</span></span>
                              </h2>
                                            <p class="main-nav__item__figcaption">Conferences &amp; workshops</p>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li class="main-nav__item  ">
                                <a href="/jobs">
                                    <figure role="presentation">
                                        <span class="main-nav__icon">
                                <img src="https://d33wubrfki0l68.cloudfront.net/0b5647613c9ac6cfb7358e2c12d2912daa78af4f/15c46/images/nav-icons/jobs.svg" alt="">
                            </span>
                                        <figcaption role="presentation">
                                            <h2 class="main-nav__item__title" role="presentation">
                                <span>Jobs <span class="sr-only">.</span></span>
                              </h2>
                                            <p class="main-nav__item__figcaption">Find work &amp; employees</p>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li class="main-nav__item ">
                                <a href="/membership">
                                    <figure role="presentation">
                                        <span class="main-nav__icon">
                                <img src="https://d33wubrfki0l68.cloudfront.net/75778fbc97d23f2fca1610f78b2d7226b137fbfc/acdc3/images/nav-icons/membership.svg" alt="">
                            </span>
                                        <figcaption role="presentation">
                                            <h2 class="main-nav__item__title" role="presentation">
                                <span>Membership <span class="sr-only">.</span></span>
                              </h2>
                                            <p class="main-nav__item__figcaption">Webinars &amp; early-birds</p>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <li class="main-nav__item">
                                <a href="#topics" id="js-topics-fallback" tabindex="-1">
                        Browse All Topics
                    </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="search-topics-dropdown container--header closed" id="header-dropdown">
                <div class="header__search">
                    <form data-handler="Search" id="js-search-form" class="search-form" method="get" action="https://www.google.com/webhp?q=site:smashingmagazine.com">
                        <label for="js-search-input"></label>
                        <div class="search-input-wrapper">
                            <input type="search" name="q" id="js-search-input" autocomplete="off" placeholder="Search Smashing..." aria-label="Search Smashing" aria-controls="js-search-results-dropdown" tabindex="-1">
                            <input type="hidden" name="sitesearch" value="smashingmagazine.com">
                            <a id="js-search-clear-button" class="search-clear-button" tabindex="-1" role="button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.35 15.36" width="16px" height="16px" tabind="-1">
                                    <title>Clear Search</title>
                                    <path fill="#e33b2a" d="M8.38 11.41c-.5-.5-.78-.52-1.33 0l-3.05 3.08c-1.18 1.18-1.7 1.18-3-.16s-1.18-2-.18-3l3.18-3.19a.69.69 0 0 0-.07-1.14l-3-3c-1-1-1.13-1.81 0-3s1.9-1.21 3.13 0l2.94 3a.66.66 0 0 0 1.11 0c.63-.65 2.49-2.51 3.28-3.35a1.46 1.46 0 0 1 2.3-.15c.24.24.47.42.89.84.86.86.94 1.57.05 2.46l-3.27 3.26c-.36.34-.52.58-.16.94l3.27 3.27c1.1 1.1 1.23 1.7.05 2.88l-.58.58a1.59 1.59 0 0 1-2.46-.21z"></path>
                                </svg>
                            </a>
                        </div>
                        <input type="submit" name="submit" value="Search" class="btn" id="js-search-submit">
                    </form>
                    <div class="header__search-logo">
                        <a href="https://www.algolia.com/" tabindex="-1">
            <img src="https://d33wubrfki0l68.cloudfront.net/11a5e7690621ea3c342176fe395f8ab04e74b963/24691/images/search-by-algolia-white.svg" alt="Search powered by our good friends at Algolia">
        </a>
                    </div>
                </div>
                <div data-component="SearchResults" data-lite="true">
                    <div class="row">
                        <div class="col col-12"></div>
                    </div>
                </div>
                <div class="header__topics" id="topics-list">
                    <h4 class="header__topics__title">Browse All Topics</h4>
                    <ul class="header__topics__list">
                        <li class="header__topics__item">
                            <a href="/category/accessibility" tabindex="-1">Accessibility</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/android" tabindex="-1">Android</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/animation" tabindex="-1">Animation</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/apps" tabindex="-1">Apps</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/css" tabindex="-1">CSS</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/design" tabindex="-1">Design</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/design-patterns" tabindex="-1">Design Patterns</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/design-systems" tabindex="-1">Design Systems</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/e-commerce" tabindex="-1">E-Commerce</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/freebies" tabindex="-1">Freebies</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/graphics" tabindex="-1">Graphics</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/html" tabindex="-1">HTML</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/illustrator" tabindex="-1">Illustrator</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/inspiration" tabindex="-1">Inspiration</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/ios" tabindex="-1">iOS</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/javascript" tabindex="-1">JavaScript</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/mobile" tabindex="-1">Mobile</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/pattern-libraries" tabindex="-1">Pattern Libraries</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/performance" tabindex="-1">Performance</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/photoshop" tabindex="-1">Photoshop</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/plugins" tabindex="-1">Plugins</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/react" tabindex="-1">React</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/responsive-web-design" tabindex="-1">Responsive Web Design</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/service-workers" tabindex="-1">Service Workers</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/sketch" tabindex="-1">Sketch</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/typography" tabindex="-1">Typography</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/ui" tabindex="-1">UI</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/usability" tabindex="-1">Usability</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/user-experience" tabindex="-1">User Experience</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/wallpapers" tabindex="-1">Wallpapers</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/web-design" tabindex="-1">Web Design</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/wordpress" tabindex="-1">WordPress</a>
                        </li>
                        <li class="header__topics__item">
                            <a href="/category/workflow" tabindex="-1">Workflow</a>
                        </li>
                    </ul>
                </div>
                <button data-handler="ContrastSwitcher" class="contrast-switcher contrast-switcher--alt" aria-pressed="false">
                    <figure class="settings settings--white settings--small">
                        <div class="settings__image-wrapper">
                            <div class="settings__image">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                    <g>
                                        <path d="m13.3,4.1c-0.4,-0.1 -0.9,-0.1 -1.3,-0.1c-4.4,0 -8,3.6 -8,8s3.6,8 8,8c0.4,0 0.9,0 1.3,-0.1c3.9,-0.6 6.7,-4 6.7,-7.9s-2.8,-7.2 -6.7,-7.9zm-1.1,13.9c-0.1,0 -0.1,0 -0.2,0c-3.3,0 -6,-2.7 -6,-6s2.7,-6 6,-6c0.1,0 0.1,0 0.2,0l0,12z"></path>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </figure>
                    <span class="btn btn--ghost--white settings--state">Seriously, red?</span>
                </button>
            </div>
        </div>
        <button data-handler="ContrastSwitcher" class="contrast-switcher" aria-pressed="false">
            <figure class="settings settings--white settings--small">
                <div class="settings__image-wrapper">
                    <div class="settings__image">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                            <g>
                                <path d="m13.3,4.1c-0.4,-0.1 -0.9,-0.1 -1.3,-0.1c-4.4,0 -8,3.6 -8,8s3.6,8 8,8c0.4,0 0.9,0 1.3,-0.1c3.9,-0.6 6.7,-4 6.7,-7.9s-2.8,-7.2 -6.7,-7.9zm-1.1,13.9c-0.1,0 -0.1,0 -0.2,0c-3.3,0 -6,-2.7 -6,-6s2.7,-6 6,-6c0.1,0 0.1,0 0.2,0l0,12z"></path>
                            </g>
                        </svg>
                    </div>
                </div>
            </figure>
            <span class="btn btn--ghost--white settings--state">Seriously, red?</span>
        </button>
    </div>
</header>